node_modules                                                                                                                                                                      
.astro
.next
dist
out
.DS_Store
._*
.wrangler
